node-red Projects/flows (16).json
[{"id":"a67e93c7.dbebf","type":"modbus-read","z":"b6407908.843488","name":"P(QGBT)","topic":"","showStatusActivities":false,"logIOActivities":true,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"65","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"444193d1.5dbd7c","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":420,"y":280,"wires":[["6da09b36.8b4af4"],[]]},{"id":"19195958.67d877","type":"modbus-read","z":"b6407908.843488","name":"P(QE-PTC)","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"65","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"afd94ceb.5294b","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":410,"y":340,"wires":[["6da09b36.8b4af4"],[]]},{"id":"dfcbfac1.7913c8","type":"modbus-read","z":"b6407908.843488","name":"P(QGA)","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"65","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"8fdc78ce.763778","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":410,"y":400,"wires":[["6da09b36.8b4af4"],[]]},{"id":"80309a8e.4483e8","type":"modbus-read","z":"b6407908.843488","name":"P(QGB)","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"65","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"38f9f7ef.b04278","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":410,"y":460,"wires":[["6da09b36.8b4af4"],[]]},{"id":"231ed2d8.5fb60e","type":"join","z":"b6407908.843488","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"8","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":730,"y":380,"wires":[["b6cc0bf1.2dfe98"]]},{"id":"6da09b36.8b4af4","type":"split","z":"b6407908.843488","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":380,"wires":[["231ed2d8.5fb60e"]]},{"id":"b6cc0bf1.2dfe98","type":"function","z":"b6407908.843488","name":"Float to Dec_Multi","func":"var Mot_16bits_poids_faible1 = msg.payload[1];\nvar Mot_16bits_poids_fort1 = msg.payload[0];\nvar Mot_32bits1 = Mot_16bits_poids_faible1 + 65536*Mot_16bits_poids_fort1;\nmsg.payload1 = Mot32_TO_Float(Mot_32bits1); \n\nvar Mot_16bits_poids_faible2 = msg.payload[3];\nvar Mot_16bits_poids_fort2 = msg.payload[2];\nvar Mot_32bits2 = Mot_16bits_poids_faible2 + 65536*Mot_16bits_poids_fort2;\nmsg.payload2 = Mot32_TO_Float(Mot_32bits2); \n\nvar Mot_16bits_poids_faible3 = msg.payload[5];\nvar Mot_16bits_poids_fort3 = msg.payload[4];\nvar Mot_32bits3 = Mot_16bits_poids_faible3 + 65536*Mot_16bits_poids_fort3;\nmsg.payload3 = Mot32_TO_Float(Mot_32bits3); \n\nvar Mot_16bits_poids_faible4 = msg.payload[7];\nvar Mot_16bits_poids_fort4 = msg.payload[6];\nvar Mot_32bits4 = Mot_16bits_poids_faible4 + 65536*Mot_16bits_poids_fort4;\nmsg.payload4 = Mot32_TO_Float(Mot_32bits4); \nreturn msg;\n\nfunction Mot32_TO_Float(Mot32) {\n    var signe = (Mot32 & 0x80000000) ? -1 : 1;\n    var exposant = ((Mot32 >> 23) & 0xFF) - 127;\n    var mantisse = (Mot32 & ~(-1 << 23));\n    if (exposant == 128)\n    return signe * ((mantisse) ? Number.NaN : Number.POSITIVE_INFINITY);\n    \n    if (exposant == -127) {\n        if (mantisse === 0) return signe * 0.0;\n        exposant = -126;\n        mantisse /=(1<<22);\n    } else mantisse = (mantisse | (1 << 23)) / (1 <<23);\n    \n    return signe * mantisse * Math.pow(2, exposant);\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":380,"wires":[["aa71699f.a6e238"]]},{"id":"aa71699f.a6e238","type":"function","z":"b6407908.843488","name":"PUE","func":"var QGBT=msg.payload[0];\nvar QE_PTC=msg.payload[1];\nvar QGA=msg.payload[2];\nvar QGB=msg.payload[3];\nvar PUE;\nmsg.topic = \"PUE attuale\";\nPUE= (QGBT+QE_PTC)/(QGA+QGB);\nmsg.payload=PUE;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1110,"y":380,"wires":[["922a3e33.8957e","68842bb7.88ba44","2e3981aa.01993e"]]},{"id":"922a3e33.8957e","type":"debug","z":"b6407908.843488","name":"PUE","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1270,"y":260,"wires":[]},{"id":"68842bb7.88ba44","type":"ui_text","z":"b6407908.843488","group":"e4bf67d2.9caff8","order":2,"width":8,"height":1,"name":"","label":"Power Usage Effectiveness istantaneo","format":"{{msg.payload}} ","layout":"col-center","x":1370,"y":380,"wires":[]},{"id":"2e3981aa.01993e","type":"ui_chart","z":"b6407908.843488","name":"PUE","group":"e4bf67d2.9caff8","order":6,"width":30,"height":6,"label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#2280c3","#ff0000","#2280c3","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1270,"y":460,"wires":[[]]},{"id":"444193d1.5dbd7c","type":"modbus-client","z":"","name":"PAC4200_QGBT","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.33.100","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"afd94ceb.5294b","type":"modbus-client","z":"","name":"PAC4200_QE-PTC","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"8fdc78ce.763778","type":"modbus-client","z":"","name":"PAC4200_QGA","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.33.300","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"38f9f7ef.b04278","type":"modbus-client","z":"","name":"PAC4200_QGB","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.33.400","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"e4bf67d2.9caff8","type":"ui_group","z":"","name":"PUE","tab":"fe2b445d.1122c8","order":2,"disp":false,"width":30,"collapse":false},{"id":"fe2b445d.1122c8","type":"ui_tab","z":"","name":"PUE Prova","icon":"dashboard","order":1,"disabled":false,"hidden":false}]