node-red Projects/svae_files_node-red-flow.json
[{"id":"9d61395e.8839f8","type":"tab","label":"Files","disabled":false,"info":""},{"id":"3fe0d9de.7fb936","type":"fs-file-lister","z":"9d61395e.8839f8","name":"","start":"/run/media/mmcblk0p1/","pattern":"*.*","folders":"*","hidden":true,"lstype":"files","path":true,"single":true,"depth":0,"stat":true,"showWarnings":true,"x":380,"y":160,"wires":[["825ffe1a.f1739","91bf4e94.f05c3","4f5f4787.98e048"]]},{"id":"92083f68.2f248","type":"inject","z":"9d61395e.8839f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":120,"wires":[["3fe0d9de.7fb936"]]},{"id":"825ffe1a.f1739","type":"debug","z":"9d61395e.8839f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":120,"wires":[]},{"id":"b8a3e609.2381e8","type":"comment","z":"9d61395e.8839f8","name":"SD Card File Browser","info":"","x":120,"y":60,"wires":[]},{"id":"77b4dbad.a0ac64","type":"ui_button","z":"9d61395e.8839f8","name":"","group":"a649fab2.daf3d8","order":1,"width":"3","height":"1","passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"refresh","payload":"","payloadType":"str","topic":"","x":160,"y":160,"wires":[["3fe0d9de.7fb936"]]},{"id":"9e9977df.ef4538","type":"ui_dropdown","z":"9d61395e.8839f8","name":"File Selector","label":"","tooltip":"","place":"Select a file","group":"a649fab2.daf3d8","order":2,"width":"10","height":"1","passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":790,"y":160,"wires":[["a3485835.954858"]]},{"id":"91bf4e94.f05c3","type":"function","z":"9d61395e.8839f8","name":"Format data","func":"msg.options = [];\nfor (var i=0; i<msg.payload.length; i++) {\n    obj = {};\n    obj [msg.payload[i].name]=msg.payload[i].name;\n    msg.options.push(obj);\n}\nmsg.payload={};\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":160,"wires":[["9e9977df.ef4538"]]},{"id":"e7d0b640.ebec18","type":"ui_template","z":"9d61395e.8839f8","group":"a649fab2.daf3d8","name":"","order":4,"width":"18","height":"6","format":"<div ng-bind-html=\"msg.payload\" height=\"400\" style=\"height: 400px;\"><br/>\n</div>\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":980,"y":220,"wires":[[]]},{"id":"f9f28b19.9789e8","type":"template","z":"9d61395e.8839f8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<table width=\"100%\">\n    <tr><th>File Name</th><th>Size</th><th>Created</th><th>Changed</th></tr>\n    {{#payload}}\n        <tr>\n            <td><a href=\"/red/download?filename={{name}}\" target=\"blank\">{{fname}}</a></td>\n            <td>{{stat.size}}</td>\n            <td>{{stat.created}}</td>\n            <td>{{stat.changed}}</td>\n        </tr>\n    {{/payload}}\n</table>\n","output":"str","x":820,"y":220,"wires":[["e7d0b640.ebec18"]]},{"id":"4f5f4787.98e048","type":"function","z":"9d61395e.8839f8","name":"Convert timestamps","func":"\nfor (var i=0; i<msg.payload.length; i++) {\n    msg.payload[i].stat.created = msg.payload[i].stat.created.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].stat.changed = msg.payload[i].stat.changed.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].stat.accessed = msg.payload[i].stat.accessed.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].stat.statusChanged = msg.payload[i].stat.statusChanged.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].fname = msg.payload[i].name.replace(/^.*(\\\\|\\/|\\:)/, '');\n}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":220,"wires":[["f9f28b19.9789e8"]]},{"id":"a3485835.954858","type":"function","z":"9d61395e.8839f8","name":"Save selection","func":"// Save the file name selected from the dropdown in the flow context\nflow.set(\"fileselected\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":160,"wires":[[]]},{"id":"6eeb0585.2b544c","type":"ui_button","z":"9d61395e.8839f8","name":"","group":"a649fab2.daf3d8","order":3,"width":"2","height":"1","passthru":false,"label":"Delete","tooltip":"","color":"","bgcolor":"","icon":"delete","payload":"","payloadType":"str","topic":"","x":150,"y":320,"wires":[["339b1c3f.786254"]]},{"id":"339b1c3f.786254","type":"function","z":"9d61395e.8839f8","name":"Get filename","func":"// Get the filename from the flow context\nlet filename = flow.get(\"fileselected\");\n\n// check, if the filename is undefined that means it does not exist yet, nothing is selected yet\n// return: do not output anything\nif (filename===undefined) {\n    return;\n}\n\n// return the filename to the file-in node to delete\nmsg.filename = filename;\n\n// and delete the context/selection as we are deleting the file as well\nflow.set(\"fileselected\");\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":320,"wires":[["7f565fc5.63fbb"]]},{"id":"7f565fc5.63fbb","type":"file","z":"9d61395e.8839f8","name":"Delete file","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":500,"y":320,"wires":[["3fe0d9de.7fb936"]]},{"id":"8158503e.dc526","type":"comment","z":"9d61395e.8839f8","name":"Save simple text to file","info":"","x":140,"y":500,"wires":[]},{"id":"1916c88b.5d55e7","type":"inject","z":"9d61395e.8839f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":560,"wires":[["e91c548.355d6a8"]]},{"id":"e91c548.355d6a8","type":"file","z":"9d61395e.8839f8","name":"","filename":"/run/media/mmcblk0p1/simpletext.log","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":440,"y":560,"wires":[[]]},{"id":"78c9e91f.860b58","type":"http in","z":"9d61395e.8839f8","name":"","url":"/download","method":"get","upload":false,"swaggerDoc":"","x":160,"y":400,"wires":[["e47fd825.c5fd48"]]},{"id":"eb52add9.02c0d","type":"http response","z":"9d61395e.8839f8","name":"","statusCode":"","headers":{},"x":950,"y":400,"wires":[]},{"id":"e47fd825.c5fd48","type":"function","z":"9d61395e.8839f8","name":"Get the file name","func":"msg.filename = msg.req.query.filename;\nmsg.contentdisposition = \"attachment; filename=\\\"\" + msg.req.query.filename.replace(/^.*(\\\\|\\/|\\:)/, '') + \"\\\"\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":400,"wires":[["4b5ff463.8d09bc"]]},{"id":"4b5ff463.8d09bc","type":"file in","z":"9d61395e.8839f8","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":600,"y":400,"wires":[["adeb105.3e815f"]]},{"id":"adeb105.3e815f","type":"change","z":"9d61395e.8839f8","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"text/csv","tot":"str"},{"t":"set","p":"headers.Content-Disposition","pt":"msg","to":"contentdisposition","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":400,"wires":[["eb52add9.02c0d"]]},{"id":"6c017d06.db73f4","type":"comment","z":"9d61395e.8839f8","name":"Save data as CSV or JSON","info":"","x":160,"y":620,"wires":[]},{"id":"b4349e54.0479f","type":"inject","z":"9d61395e.8839f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":680,"wires":[["7aa4da4b.3a9de4"]]},{"id":"32d129d6.967c36","type":"file","z":"9d61395e.8839f8","name":"","filename":"/run/media/mmcblk0p1/object.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":760,"y":680,"wires":[[]]},{"id":"7aa4da4b.3a9de4","type":"function","z":"9d61395e.8839f8","name":"Set data","func":"var now = new Date();\n\nmsg.payload = {\n    \"timestamp\" : now.getTime(),\n    \"pressure\" : global.get(\"pressure\"),\n    \"out2\" : global.get(\"out2\"),\n}\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":680,"wires":[["2fe5617c.20a82e","cb15c4f4.86e0b8"]]},{"id":"2fe5617c.20a82e","type":"csv","z":"9d61395e.8839f8","name":"","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\n","temp":"timestamp,pressure,out2","skip":"0","strings":true,"x":510,"y":680,"wires":[["32d129d6.967c36"]]},{"id":"cb15c4f4.86e0b8","type":"json","z":"9d61395e.8839f8","name":"","property":"payload","action":"","pretty":false,"x":510,"y":740,"wires":[["3a2ca3be.7ebc4c"]]},{"id":"3a2ca3be.7ebc4c","type":"file","z":"9d61395e.8839f8","name":"","filename":"/run/media/mmcblk0p1/json.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":750,"y":740,"wires":[[]]},{"id":"20a61cc5.f25654","type":"inject","z":"9d61395e.8839f8","name":"Weather JSON","topic":"","payload":"{\"coord\":{\"lon\":139,\"lat\":35},\"weather\":[{\"id\":800,\"main\":\"Clear\",\"description\":\"clear sky\",\"icon\":\"01n\"}],\"base\":\"stations\",\"main\":{\"temp\":281.52,\"feels_like\":278.99,\"temp_min\":280.15,\"temp_max\":283.71,\"pressure\":1016,\"humidity\":93},\"wind\":{\"speed\":0.47,\"deg\":107.538},\"clouds\":{\"all\":2},\"dt\":1560350192,\"sys\":{\"type\":3,\"id\":2019346,\"message\":0.0065,\"country\":\"JP\",\"sunrise\":1560281377,\"sunset\":1560333478},\"timezone\":32400,\"id\":1851632,\"name\":\"Shuzenji\",\"cod\":200}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":880,"wires":[["32c27bec.079c84"]]},{"id":"265525df.fb30ba","type":"comment","z":"9d61395e.8839f8","name":"Saving and retrieving data","info":"","x":150,"y":820,"wires":[]},{"id":"bb9eb0b3.0a71a","type":"file","z":"9d61395e.8839f8","name":"","filename":"/run/media/mmcblk0p1/settings.json","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":670,"y":880,"wires":[[]]},{"id":"ac014675.5d5598","type":"inject","z":"9d61395e.8839f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":940,"wires":[["6743221.a5a90dc"]]},{"id":"6743221.a5a90dc","type":"file in","z":"9d61395e.8839f8","name":"","filename":"/run/media/mmcblk0p1/settings.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":420,"y":940,"wires":[["cfb546bd.969a78"]]},{"id":"cfb546bd.969a78","type":"json","z":"9d61395e.8839f8","name":"","property":"payload","action":"","pretty":false,"x":670,"y":940,"wires":[["a8f27cab.618c1"]]},{"id":"32c27bec.079c84","type":"json","z":"9d61395e.8839f8","name":"","property":"payload","action":"","pretty":false,"x":410,"y":880,"wires":[["bb9eb0b3.0a71a"]]},{"id":"a8f27cab.618c1","type":"debug","z":"9d61395e.8839f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":940,"wires":[]},{"id":"4ab209a1.b9d598","type":"comment","z":"9d61395e.8839f8","name":"Setting the filename from code","info":"","x":160,"y":1020,"wires":[]},{"id":"d8e638ee.2a1658","type":"inject","z":"9d61395e.8839f8","name":"Weather JSON","topic":"","payload":"{\"coord\":{\"lon\":139,\"lat\":35},\"weather\":[{\"id\":800,\"main\":\"Clear\",\"description\":\"clear sky\",\"icon\":\"01n\"}],\"base\":\"stations\",\"main\":{\"temp\":281.52,\"feels_like\":278.99,\"temp_min\":280.15,\"temp_max\":283.71,\"pressure\":1016,\"humidity\":93},\"wind\":{\"speed\":0.47,\"deg\":107.538},\"clouds\":{\"all\":2},\"dt\":1560350192,\"sys\":{\"type\":3,\"id\":2019346,\"message\":0.0065,\"country\":\"JP\",\"sunrise\":1560281377,\"sunset\":1560333478},\"timezone\":32400,\"id\":1851632,\"name\":\"Shuzenji\",\"cod\":200}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1080,"wires":[["29d616e4.4e140a"]]},{"id":"29d616e4.4e140a","type":"function","z":"9d61395e.8839f8","name":"Filename from code","func":"// Get the current time and convert it to text\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\n// This is how to pass the filename to the file node\nmsg.filename = \"/run/media/mmcblk0p1/weather_\"+ yyyy +  mm + dd + \"_\" + hh + mmm + ss + \".json\";\n\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.filename});\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1080,"wires":[["c3129ec7.b14bc"]]},{"id":"c3129ec7.b14bc","type":"json","z":"9d61395e.8839f8","name":"","property":"payload","action":"","pretty":false,"x":610,"y":1080,"wires":[["e85ad3bd.27236"]]},{"id":"e85ad3bd.27236","type":"file","z":"9d61395e.8839f8","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":770,"y":1080,"wires":[[]]},{"id":"10a34a73.96de26","type":"comment","z":"9d61395e.8839f8","name":"Autologger","info":"","x":100,"y":1160,"wires":[]},{"id":"f6ce4717.b253f8","type":"inject","z":"9d61395e.8839f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1240,"wires":[["e5e99caa.1ff0d"]]},{"id":"e5e99caa.1ff0d","type":"function","z":"9d61395e.8839f8","name":"Set data","func":"var now = new Date();\n\nmsg.payload = {\n    \"timestamp\" : now.getTime(),\n    \"pressure\" : global.get(\"pressure\"),\n    \"out2\" : global.get(\"out2\"),\n}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":1240,"wires":[["38815858.149328"]]},{"id":"38815858.149328","type":"function","z":"9d61395e.8839f8","name":"Filename generator","func":"// Get the current time and convert it to text\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\n// Generate out file name pattern\nmsg.fname = \"logging_\"+ yyyy + mm + dd + \".csv\";\n// Full filename with path for the file node later\nmsg.filename = \"/run/media/mmcblk0p1/\"+ msg.fname;\n\n// We save the current payload into a different place on the msg object\nmsg.filecontent = msg.payload;\n\n// We are passing the file name search pattern to fs node to tell us if the file exists or not\nmsg.payload = {\"pattern\":msg.fname};\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.fname});\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":1360,"wires":[["67699325.78f71c"]]},{"id":"67699325.78f71c","type":"fs-file-lister","z":"9d61395e.8839f8","name":"","start":"/run/media/mmcblk0p1/","pattern":"","folders":"*","hidden":true,"lstype":"files","path":true,"single":true,"depth":0,"stat":true,"showWarnings":true,"x":440,"y":1360,"wires":[["f253fdc7.90677","54315610.0d0b28"]]},{"id":"f253fdc7.90677","type":"debug","z":"9d61395e.8839f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":1280,"wires":[]},{"id":"54315610.0d0b28","type":"switch","z":"9d61395e.8839f8","name":"","property":"$count(msg.payload)","propertyType":"jsonata","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":1360,"wires":[["44030339.4ee2cc"],["bcd07e71.4ed01"]]},{"id":"65037767.3cb448","type":"csv","z":"9d61395e.8839f8","name":"","sep":",","hdrin":"","hdrout":true,"multi":"one","ret":"\\n","temp":"timestamp,pressure,out2","skip":"0","strings":true,"x":930,"y":1340,"wires":[["1ae03d6f.567a83"]]},{"id":"1ae03d6f.567a83","type":"file","z":"9d61395e.8839f8","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":1090,"y":1340,"wires":[[]]},{"id":"7d456693.a8bc48","type":"csv","z":"9d61395e.8839f8","name":"","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\n","temp":"timestamp,pressure,out2","skip":"0","strings":true,"x":930,"y":1380,"wires":[["1ae03d6f.567a83"]]},{"id":"44030339.4ee2cc","type":"change","z":"9d61395e.8839f8","name":"Get file content","rules":[{"t":"set","p":"payload","pt":"msg","to":"filecontent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1340,"wires":[["65037767.3cb448"]]},{"id":"bcd07e71.4ed01","type":"change","z":"9d61395e.8839f8","name":"Get file content","rules":[{"t":"set","p":"payload","pt":"msg","to":"filecontent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1380,"wires":[["7d456693.a8bc48"]]},{"id":"c9fb9f9d.f6293","type":"comment","z":"9d61395e.8839f8","name":"Graph the data","info":"","x":120,"y":1440,"wires":[]},{"id":"e6a69d48.4e148","type":"ui_button","z":"9d61395e.8839f8","name":"","group":"a649fab2.daf3d8","order":3,"width":"2","height":"1","passthru":false,"label":"Graph","tooltip":"","color":"","bgcolor":"","icon":"show_chart","payload":"","payloadType":"str","topic":"","x":130,"y":1520,"wires":[["4dcb1ec9.a4d18"]]},{"id":"4dcb1ec9.a4d18","type":"function","z":"9d61395e.8839f8","name":"Get filename","func":"// Get the filename from the flow context\nlet filename = flow.get(\"fileselected\");\n\n// check, if the filename is undefined that means it does not exist yet, nothing is selected yet\n// return: do not output anything\nif (filename===undefined) {\n    return;\n}\n\n// return the filename to the file-in node to delete\nmsg.filename = filename;\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":1520,"wires":[["1ce8e5c3.42bbca"]]},{"id":"1ce8e5c3.42bbca","type":"file in","z":"9d61395e.8839f8","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":480,"y":1520,"wires":[["9cc9edec.d2445"]]},{"id":"9cc9edec.d2445","type":"csv","z":"9d61395e.8839f8","name":"","sep":",","hdrin":true,"hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"x":630,"y":1520,"wires":[["45c68326.06f80c","fe46f10.47ec81"]]},{"id":"45c68326.06f80c","type":"debug","z":"9d61395e.8839f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":1480,"wires":[]},{"id":"fe46f10.47ec81","type":"function","z":"9d61395e.8839f8","name":"Format data for chart","func":"var chart = [{\n    \"series\":[\"Pressure\",\"OUT2\"],\n    \"data\":[],\n    \"labels\":[\"\"]\n}];\n\nvar pressure = [];\nvar out2 = [];\n\nfor (var i=0; i<msg.payload.length; i++) {\n    pressure.push({\"x\":msg.payload[i].timestamp, \"y\":msg.payload[i].pressure});\n    out2.push({\"x\":msg.payload[i].timestamp, \"y\":msg.payload[i].out2*200});\n\n}\nchart[0].data.push(pressure);\nchart[0].data.push(out2);\n\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":1520,"wires":[["137d11d9.8c82ee"]]},{"id":"137d11d9.8c82ee","type":"ui_chart","z":"9d61395e.8839f8","name":"","group":"a649fab2.daf3d8","order":5,"width":"18","height":"6","label":"File data","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1050,"y":1520,"wires":[[]]},{"id":"abcbdee1.a060e","type":"inject","z":"9d61395e.8839f8","name":"Every 10min","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1200,"wires":[["e5e99caa.1ff0d"]]},{"id":"a649fab2.daf3d8","type":"ui_group","z":"","name":"File Browser","tab":"75e4e587.f4c0ac","order":1,"disp":true,"width":"18","collapse":false},{"id":"75e4e587.f4c0ac","type":"ui_tab","z":"","name":"Files","icon":"dashboard","disabled":false,"hidden":false}]